.new-stories-page {
  z-index: 100;
  position: relative;
  padding-top: 120px;

  .modal {
    background: #fff;
    border-radius: 5px;
    display: block;
    width: 600px;
    vertical-align: top;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

    h1 {
      color: #05b1e2;
      margin-top: 0;
    }
    .form-actions {
      margin-top: 15px;
      text-align: center;
    }
    .form-group {
      display: block;
      margin-bottom: 15px;

      .mat-input-container {
        width: 100%;
      }
    }
  }
}
