<div class="new-stories-page">


  <div class="modal">

    <h1>New story</h1>

    <form #heroForm="ngForm" name="newForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <md-input-container>

          <input mdInput placeholder="Story title" type="text" class="form-control" [(ngModel)]="model.title"
                 name="title" required>
          <md-hint>
            Interesting title of your story
          </md-hint>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container>

          <input mdInput placeholder="Start point" [mdAutocomplete]="auto" [formControl]="startPointControl" required>

          <!--<input mdInput placeholder="Start point" (keyup)="onChangeAddress(model.startPoint)"-->
                 <!--type="text" class="form-control" [(ngModel)]="model.startPoint.address" name="startPoint" required>-->

          <md-hint>
            Enter address where your trip starts
          </md-hint>
        </md-input-container>
        <md-autocomplete #auto="mdAutocomplete" [displayWith]="setStartPoint">
          <md-option *ngFor="let state of startPointOptions | async" [value]="state">
            {{ state.formatted_address }}
          </md-option>
        </md-autocomplete>
      </div>

      <div class="form-group">
        <md-input-container>

          <input mdInput placeholder="End point" [mdAutocomplete]="auto2" [formControl]="endPointControl" required>

          <!--<input mdInput placeholder="Start point" (keyup)="onChangeAddress(model.startPoint)"-->
          <!--type="text" class="form-control" [(ngModel)]="model.startPoint.address" name="startPoint" required>-->

          <md-hint>
            Enter address where your trip ends
          </md-hint>
        </md-input-container>
        <md-autocomplete #auto2="mdAutocomplete" [displayWith]="setEndPoint">
          <md-option *ngFor="let state2 of endPointOptions | async" [value]="state2">
            {{ state2.formatted_address }}
          </md-option>
        </md-autocomplete>
      </div>

      <div class="image-block">
        <div class="img-container" *ngFor="let image of model.images">
          <div class="location" *ngIf="image.geo && image.geo.lat">
          <md-icon>room</md-icon>
          </div>

          <img src="{{image.url}}"  name="path" height="70" width="90">
          <a (click)="removeFile(image)" class="remove">
            <md-icon>close</md-icon>
          </a>
        </div>
      </div>
      <br/>
      <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
      <br/>
      <br/>
      <md-hint>
      Upload your trip photos and if they contain information about location we group it and create a route for story with points of interest.
      </md-hint>

      <br/>
      <br/>

      <div class="form-actions">
        <button type="submit" md-raised-button>Create</button>
      </div>
    </form>

  </div>
</div>
