.new-stories-page {
  z-index: 100;
  position: relative;
  padding-top: 120px;

  .modal {
    background: #fff;
    border-radius: 5px;
    display: block;
    width: 600px;
    vertical-align: top;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

    h1 {
      color: #05b1e2;
      margin-top: 0;
    }
    .form-actions {
      margin-top: 15px;
      text-align: center;
    }
    .form-group {
      display: block;
      margin-bottom: 15px;

      .mat-input-container {
        width: 100%;
      }
    }
    .img-container {
      position: relative;
      display: inline-block;
      margin: 3px 5px;

      .remove {
        position: absolute;
        color: red;
        text-shadow: 0 0 5px #fff;
        top: -3px;
        right: -3px;
      }
      .location {
        left: 3px;
        bottom: 3px;
        color: #fff;
        position: absolute;
        text-shadow: 0 0 5px #000;
      }
    }
  }
}
