<div class="stories-page">



  <a href="" [routerLink]="['/stories']">Back</a>

  <div>
    New
  </div>

  <div class="container">
    <h1>Hero Form</h1>
    <form #heroForm="ngForm" name="newForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <md-input-container>

        <input mdInput placeholder="Story title" type="text" class="form-control" [(ngModel)]="model.title" name="title" required>

        </md-input-container>

        <md-input-container>

        <input mdInput placeholder="Start point" id="autocomplete" (keyup)="onChangeAddress(model.startPoint)" type="text" class="form-control" [(ngModel)]="model.startPoint.address" name="startPoint" required>

        </md-input-container>


        <md-input-container>
          <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </md-option>
        </md-autocomplete>

        <md-input-container>

        <input mdInput placeholder="End point" type="text" class="form-control" [(ngModel)]="model.endPoint.address" name="endPoint" required>

        </md-input-container>


        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          Base drop zone
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

</div>
