<div class="login-page">

  <div class="logo">
    <span class="pulse-button"></span>
  </div>

  <div class="signin-dialog">
    <div class="signin-dialog-container">

      <h1>SIGN IN</h1>
      <button type="button" class="btn btn-google" (click)="loginWithGoogle()">Login with Google</button>

      <div class="div-or">
        <span>OR</span>
      </div>

      <a target="_blank" class="btn btn-demo" href="https://eliftech-tripstory.herokuapp.com/#/preview/58fd3aa7d7e11c0004867669">Check the Demo</a>

    </div>
  </div>

  <div class="created-by">
    Created by
    <a href="http://eliftech.com/" class="eliftech" target="_blank">Eliftech</a>
  </div>


</div>
