/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Abril+Fatface|Lato:300,400');

body {
  // background-color: #f4f9ff;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}



.logo {
  background: url('../assets/img/logo.png');
  background-position: 277px 99px;
  width: 277px;
  height: 99px;
  position: relative;
  display: block;
  margin: 0 auto;

  &.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -139px;
    margin-top: -50px;
  }
}

.pulse-button {
  position: relative;
  top: -5px;
  left: 71px;
  display: block;
  width: 7px;
  height: 7px;

  border-style: solid;
  border-width: 7px;
  border-color: #05b1e2;
  background-color: rgb(196, 237, 248);

  color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#05b1e2, 0.3);
  -webkit-animation: pulse 1.5s infinite;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(#05b1e2, 0.3);
    -webkit-animation: pulse 1.5s infinite;
  }
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 29px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.created-by {
  margin: 0 auto;
  width: 470px;
  text-align: center;
  vertical-align: middle;
  line-height: 46px;
  color: #666;
}

.eliftech {
  display: inline-block;
  background: url('../assets/img/eliftech.png');
  background-size: 142px 46px;
  vertical-align: middle;
  width: 142px;
  height: 46px;
  overflow: hidden;
  text-indent: -100%;
  margin-top: -8px;
  margin-left: 5px;
}

.maps-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .map {
    width: 100%;
    height: 100%;
  }
}
.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
}

.data-container {
  position: relative;
  z-index: 3;
}

.nav-menu {
  width: 800px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  z-index: 3;

  a {
    color: #05b1e2;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 0 5px;

    &.active {
      background: #05b1e2;
      color: #fff;
    }
  }

  &:before {
    position: absolute;
    background: rgba(255, 255, 255, .5);
    content: ' ';
    left: 0px;
    top: 20px;
    bottom: 40px;
    right: 0px;
    border-radius: 50px;
  }

  .nav-button {
    position: absolute;
    top: 35px;

    &.left {
      left: -5px;
    }
    &.right {
      right: -5px;
    }
  }
}
