<div class="edit-stories">

  <div class="main">

    <a [routerLink]="['/preview/' + model._id]" target="_blank" class="preview-button">Preview</a>

    <span class="image-container">
      <img src="{{coverPhoto}}" />
      </span>

      <span class="text-content">
      <span class="title">{{model.title}}</span>
      <span class="subheader">{{model.subheader}}</span>
    </span>
  </div>

  <div class="line"></div>
  <div *ngFor="let path of model.path; let i = index;" [ngClass]="{'path': path.pathType === 'path', 'point': path.pathType === 'poi'}">
    <div class="point-content" *ngIf="path.pathType === 'poi'" (mouseover)="onPointHover(path)">
      <div style="position: absolute; right: 12px; top: 12px; width: 16px; height: 16px; cursor: pointer" (click)="onEdit(path)">
        <md-icon title="edit" style="color: #c2c2c2; font-size: 16px;">edit</md-icon>
      </div>
      <!--<span class="location">{{path.subheader}}</span>-->
      <span class="title" *ngIf="path.title">
        {{path.title}}
      </span>
      <span class="title not-setuped" *ngIf="!path.title" style="color: #666; font-size: 14px; padding-bottom: 14px">
        Click edit to change this title
      </span>
      <div style="display: flex; flex-direction: row; justify-content: space-between; color: #3c474b">
        <div style="flex: 1; display: flex" *ngIf="path.body">
          <md-icon>comment</md-icon>
          <span style="padding-left: 8px">story</span>
        </div>
        <div style="flex: 1; display: flex">
          <md-icon>photo_camera</md-icon>
          <span style="padding-left: 8px">{{path.files.length}} photos</span>
        </div>
      </div>
    </div>
    <div *ngIf="path.pathType === 'path'" (mouseover)="onPointHover(path)">
      <a class="path-select">
        <md-icon *ngIf="path.travelType === 'driving'">directions_car</md-icon>
        <md-icon *ngIf="path.travelType === 'walking'">walking</md-icon>
        <md-icon *ngIf="path.travelType === 'ferry'">ferry</md-icon>
        <md-icon *ngIf="path.travelType === 'plain'">plain</md-icon>
      </a>
      <!--div class="path-photos">
        <div *ngFor="let file of path.files" class="path-photo-wrapper">
          <img src="{{file.path}}" width="72" height="56" />
          <span class="path-photo-title">{{file.title}}</span>
        </div>
      </div-->
    </div>
  </div>
  <div class="new-point">
    <a class="upload-photos" (click)="onEdit(null)">
      <div class="icon-wrapper">
        <md-icon>add</md-icon>
      </div>
      <div class="icon-title">
        Add new point
      </div>
    </a>
    <!--div class="or">
      - or -
    </div>
    <a class="add-new-points">
      <div class="icon-wrapper">
        <md-icon>photo_camera</md-icon>
      </div>
      <div class="icon-title">
        Upload photos
      </div>
    </a-->
  </div>

  <div class="endpoint">

    <span class="text-content">
      <span class="title">{{model.backTitle || 'Back'}}</span>
      <span class="subheader">{{model.backSubheader}}</span>
    </span>
  </div>
</div>

<div class="edit-stories-editable modal" *ngIf="editablePoint">

  <form #heroForm="ngForm" name="newForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <md-input-container>

        <input mdInput placeholder="Story title" type="text" class="form-control" [(ngModel)]="editablePoint.title"
               name="title" required>
        <md-hint>
          Interesting title of your story
        </md-hint>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container>

        <textarea mdInput placeholder="Story body" [(ngModel)]="editablePoint.body"
               name="title"></textarea>
        <md-hint>
          Some little story about this location
        </md-hint>
      </md-input-container>
    </div>
    <div class="form-group">

      <md-input-container>

        <input mdInput placeholder="Change point address" [mdAutocomplete]="auto" [formControl]="pointControl">

      </md-input-container>
      <md-autocomplete #auto="mdAutocomplete" [displayWith]="setPoint" md-item-text="item.formatted_address">
        <md-option *ngFor="let state of pointOptions | async" [value]="state">
          {{ state.formatted_address }}
        </md-option>
      </md-autocomplete>
    </div>

    <div class="image-block">
      <div class="img-container" *ngFor="let image of editablePoint.files">
        <div class="location" *ngIf="image.geo && image.geo.lat">
          <md-icon>room</md-icon>
        </div>

        <img src="{{image.url}}"  name="path" height="70" width="90">
        <a (click)="removeFile(image)" class="remove">
          <md-icon>close</md-icon>
        </a>
      </div>
    </div>
    <br/>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>

    <br/>
    <br/>

    <div class="form-actions">
      <button type="submit" md-raised-button>Save</button>
    </div>
  </form>

</div>
