.edit-stories {
  width: 300px;
  position: relative;
  z-index: 10;
  left: 50px;
  top: 40px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 13px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

  &:after {
    background-image: url('../../../assets/img/marker-large.png');
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
    position: absolute;
    content: ' ';
    top: 130px;
    left: 0;
  }

  .main {
    height: 200px;
  }
  .image-container {
    width: 100%;
    background: #999;
    height: 150px;
    overflow: hidden;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 120px;
      content: ' ';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    img {
      width: 100%;
    }
  }

  .additional-info {
    & > div {
      float: left;
    }
  }

  .text-content {
    padding-left: 74px;
    position: absolute;
    top: 145px;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;

    .title {
      color: #05b1e2;
      font-weight: bold;
      text-overflow: ellipsis;
      display: block;
      font-size: 20px;
    }
    .subheader {
      color: #666;
      font-weight: bold;
      text-overflow: ellipsis;
      display: block;
      font-size: 14px;
    }
  }

  .line {
    border-left: 3px dashed rgb(5, 177, 226);
    position: absolute;
    left: 36px;
    top: 170px;
    bottom: 35px;
  }
  .endpoint {
    position: relative;
    border-top: 1px solid #e0e0e0;
    height: 75px;

    .text-content {
      top: auto;
      bottom: 0;
      border-bottom: 0;
    }
    &:after {
      background-image: url('../../../assets/img/marker-large.png');
      background-repeat: no-repeat;
      width: 74px;
      height: 74px;
      position: absolute;
      content: ' ';
      bottom: 0;
      left: 0;
    }
  }

  .line + .path {
    border-top: 0 none;
  }
  .path {
    position: relative;
    min-height: 75px;
    border-top: 1px dashed #e0e0e0;

    .path-select {
      background-color: #05b1e2;
      border-radius: 3px;
      position: absolute;
      width: 24px;
      height: 24px;
      left: 20px;
      margin-top: -18px;
      top: 50%;
      padding: 5px;

      .mat-icon {
        color: #fff;
      }
    }

    .path-photos {
      margin-left: 80px;
      padding: 12px 0;

      .path-photo-wrapper {
        margin: 12px 0;
        display: flex;
        flex-direction: row;
        height: 72px;

        .path-photo-title {
          color: #969696;
          font-style: italic;
          align-self: center;
          margin-left: 10px;
        }
      }
    }
  }
  .point {
    position: relative;
    min-height: 75px;
    border-top: 1px dashed #e0e0e0;

    &:after {
      background-image: url('../../../assets/img/marker.png');
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      content: ' ';
      top: 15px;
      left: 28px;
    }
    .point-content {
      padding: 10px 5px 10px 75px;

      .title {
        color: #05b1e2;
        font-weight: bold;
        text-overflow: ellipsis;
        display: block;
        font-size: 18px;
      }
      .title.not-setuped {
        color: rgba(102, 102, 102, 0.84);
        font-weight: 100;
        text-overflow: ellipsis;
        display: block;
        font-size: 18px;
      }
      .location {
        color: #666;
        font-weight: bold;
        text-overflow: ellipsis;
        display: block;
        font-size: 12px;
      }
    }
  }
}

.new-point {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .5);
  background-color: #fafafa;
  //min-height: 75px;
  border-top: 1px dashed #e0e0e0;
  margin-left: -10px;
  margin-right: -10px;
  min-height: 100px;

  .upload-photos, .add-new-points {
    position: absolute;
    width: 200px;
    height: 24px;
    left: 20px;
    display: flex;

    & > div {
      display: inline-block;
      height: 36px;
    }

    .icon-wrapper {
      border: 1px dashed #05b1e2;
      border-radius: 3px;
      background: #fafafa;
      padding: 5px;
      width: 24px;
      height: 24px;

      .mat-icon {
        color: #05b1e2;
      }
    }

    .icon-title {
      font-weight: bold;
      margin-left: 20px;
      color: #969696;
      line-height: 36px;
    }
  }

  .or {
    margin-top: 98px;
    position: absolute;
    left: 80px;
    color: #969696;
  }

  .add-new-points {
    //margin-top: 10px;
  }

  .upload-photos {
     margin-top: 30px;
  }
}

.edit-stories-editable {
  width: 600px;
  position: fixed;
  z-index: 10;
  left: 380px;
  top: 100px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 13px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}
