<div class="stories-page">
  <div class="maps-container">
    <div class="backdrop" *ngIf="routeIsActive('/stories') || routeIsActive('/stories/new')"></div>
    <div class="map" id="map"></div>
  </div>

  <div class="nav-menu" style="">
    <div class="nav-button left">
      <a href="" [routerLink]="['/stories']" [class.active]="routeIsActive('/stories')">Stories</a>
      <a href="" [routerLink]="['/stories/new']" [class.active]="routeIsActive('/stories/new')">New story</a>
    </div>
    <div class="logo">
      <span class="pulse-button"></span>
    </div>
    <div class="nav-button right">
      <a href="" [routerLink]="['/about']" [routerLinkActive]="['active']">About us</a>
      <a href="" (click)="logout()">Logout</a>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
