<div class="stories-page">
  <div class="maps-container">
    <div class="backdrop"></div>
    <div class="map" id="map"></div>
  </div>

  <div class="data-container">

    <div class="nav-menu">
      <div class="nav-button left">
        <a href="" [routerLink]="['/stories']" [class.active]="routeIsActive('/stories')">Stories</a>
        <a href="" [routerLink]="['/stories/new']" [class.active]="routeIsActive('/stories/new')">New story</a>
      </div>
      <div class="logo">
        <span class="pulse-button"></span>
      </div>
      <div class="nav-button right">
        <a href="" [routerLink]="['/about']" [routerLinkActive]="['active']">About us</a>
        <a href="" (click)="logout()">Logout</a>
      </div>
    </div>

    <div class="stories-container">
      <a [routerLink]="['/stories/' + story._id]" *ngFor="let story of storyList" class="story-container">
        <span class="image-container">
          <img src="https://scontent.fnic1-1.fna.fbcdn.net/v/t31.0-8/17807482_1002697196532567_7944031912616663507_o.jpg?oh=e150a9ee9873d5a62b2723219bfa0033&oe=599498ED" />
        </span>

        <span class="text-content">
          <span class="title">{{story.title}}</span>
          <span class="subheader">{{story.subheader}}</span>
        </span>
      </a>

      <router-outlet></router-outlet>
    </div>

  </div>

</div>
