html, body{
  height: 100%;
  width: 100% !important;
  margin: 0 !important;
}

nav a {
  background-color: transparent;
  padding-right: 1rem;
  padding-left: 1rem;
}

a.active {
  background-color: #004E64;
}

nav {
  height: 2rem;
  margin-top: 0;
  padding-top: 1rem;
  background-color: #71F79F;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
