<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Find location">
  </md-input-container>

  <md-radio-group>
    <md-radio-button value="story">Story</md-radio-button>
    <md-radio-button value="photo">Photo</md-radio-button>
  </md-radio-group>

  <md-input-container class="example-full-width">
    <input mdInput placeholder="Story title">
  </md-input-container>

    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Write down your story" MdTextAreaAutosize></textarea>
    </md-input-container>
  <h3>Drop photos</h3>

  <div ng2FileDrop
       [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
       (fileOver)="fileOverBase($event)"
       [uploader]="uploader"
       class="well my-drop-zone">
    Base drop zone
  </div>

  <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

  <div class="saveBtnContainer">
    <button md-button>Save</button>
  </div>
</form>
