.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

textarea {
  min-height: 100px;
}

.my-drop-zone { border: dotted 3px lightgray; width: 40%; height: 40px; margin-bottom: 2rem; padding: 1rem; }
.nv-file-over { border: dotted 3px red; }

.saveBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
