<div class="data-container">
  <div class="stories-container">
    <a [routerLink]="['/stories/' + story._id]" *ngFor="let story of storyList" class="story-container">
        <span class="image-container">
          <img src="{{story.coverPhoto}}" />
        </span>

      <span class="text-content">
          <span class="title">{{story.title}}</span>
          <span class="subheader">{{story.subheader}}</span>
        </span>
    </a><a [routerLink]="['/stories/new']" class="story-container story-container-new">
      <div class="icon">
      <md-icon>add</md-icon>
      </div>
      Create a new story
    </a>
  </div>

</div>
