.stories-container {
  width: 980px;
  margin: 0 auto;
  padding-top: 120px;
}

.story-container {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 13px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  }

  &:after {
    background-image: url('../../../assets/img/marker-large.png');
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
  }

  .image-container {
    width: 100%;
    background: #999;
    height: 150px;
    overflow: hidden;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 120px;
      content: ' ';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    img {
      width: 100%;
    }
  }

  .text-content {
    padding-left: 74px;
    position: absolute;
    top: 145px;
    left: 0;
    right: 0;

    .title {
      color: #05b1e2;
      font-weight: bold;
      text-overflow: ellipsis;
      display: block;
      font-size: 20px;
    }
    .subheader {
      color: #666;
      font-weight: bold;
      text-overflow: ellipsis;
      display: block;
      font-size: 14px;
    }
  }
}
